<div class="mx-auto max-w-4xl flex-1 space-y-6 w-full">
    <div class="rounded-lg border border-gray-200 bg-white shadow-sm p-4">
        <p class="text-xl font-semibold text-center">Order Summary</p>
        <div class="border-t border-gray-200 mt-4"></div>
        <div class="space-y-4 mt-4 ">
            <div class="space-y-2">
                <dl class="flex items-center justify-between gap-4">
                    <dt class=" font-medium text-gray-500">Subtotal</dt>
                    <dd class="font-medium text-gray-900">
                        {{cartService.totals()?.subTotal|currency}}
                    </dd>
                </dl>
                <dl class="flex items-center justify-between gap-4">
                    <dt class=" font-medium text-gray-500">Discount</dt>
                    <dd class="font-medium text-green-500">
                        {{cartService.totals()?.discount|currency}}
                    </dd>
                </dl>
                <dl class="flex items-center justify-between gap-4">
                    <dt class=" font-medium text-gray-500">Dilivery Fee</dt>
                    <dd class="font-medium text-gray-900">
                        {{cartService.totals()?.shipping|currency}}
                    </dd>
                </dl>
            </div>
            <dl class="flex items-center justify-between gap-4 border-t border-gray-200 pt-3">
                <dt class=" font-medium text-gray-500">Total</dt>
                <dd class="font-medium text-gray-900">
                    {{cartService.totals()?.total|currency}}
                </dd>
            </dl>
        </div>
        @if(location.path() !== '/checkout'){
        <div class="flex flex-col gap-2 mt-4">
            <button mat-flat-button color="primary" routerLink="/checkout">
                Checkout
            </button>
            <button mat-button routerLink="/shop">
                Continue Shopping
            </button>
        </div>
        }
    </div>
    <div class="space-y-4 rounded-lg border border-gray-200 bg-white shadow-sm p-4">
        <form class="space-y-2 flex flex-col">
            <label class="mb-2 block text-sm font-medium">Have a Coupon?</label>
            <mat-form-field appearance="outline">
                <mat-label>Coupon Code</mat-label>
                <input matInput placeholder="Coupon Code">
            </mat-form-field>
            <button mat-flat-button color="primary">Apply Code</button>
        </form>
    </div>
</div>