@use '@angular/material' as mat;

@tailwind base;
@tailwind components;
@tailwind utilities;

$custom-theme: mat.define-theme();
@include mat.core();
.custom-theme {
    @include mat.all-component-themes($custom-theme);
    .mdc-button, .mdc-raised-button, .mdc-stroked-button, .mdc-flat-button {
        @apply rounded-md
    }
}

/* Custom scrollbar for the entire application */
* {
    &::-webkit-scrollbar {
        width: 4px;
    }

    &::-webkit-scrollbar-track {
        background: #f1f1f1;
        // border-radius: 2px;
    }

    &::-webkit-scrollbar-thumb {
        background: #6611d6;
        // border-radius: 2px;
        
        &:hover {
            background: #16bad0;
        }
    }

    /* Firefox scrollbar */
    scrollbar-width: thin;
    scrollbar-color: #7a14da #f1f1f1;
}

.container {
    @apply mx-auto max-w-screen-2xl;
}

/* Custom search input styles */
input[type="search"] {
    &:focus {
        @apply outline-none ring-2 ring-purple-500 border-purple-500;
    }
    
    /* Remove the default browser focus styles */
    &:focus-visible {
        outline: none;
    }

    /* Remove the default search input styles */
    &::-webkit-search-decoration,
    &::-webkit-search-cancel-button,
    &::-webkit-search-results-button,
    &::-webkit-search-results-decoration {
        -webkit-appearance: none;
    }
    height: 42px;
}
 .text-primary {
    color: #7d00fa;
}