<div class="w-full pt-52">
    <div class="error-container">
        <div class="error-display">
            <span class="error-num">5</span>
            <div class="eyes">
                <div class="eye"></div>
                <div class="eye"></div>
            </div>
        </div>
    
        <p class="sub-text">
            Oh eyeballs! Something went wrong. We're <i>looking</i> to see what happened.
        </p>
    
        <!-- @if(error){
            <div class="error-details">
                <p class="error-message">{{error.message}}</p>
                <p class="error-code" *ngIf="error.code">Error Code: {{error.code}}</p>
            </div>
        } -->
    
        <a routerLink="/">Go back home</a>
    </div>
</div>